
body{
  justify-content: center;
  position: relative;
}
#header, #banner, #tweets,#testimonal,#section1,#discover,#detail,.courses,#features,.signup, #offers, #newsfeed ,.dropdown-menu.show ,#loginform ,#signup,.footer-section{
  max-width: 1200px;
}
a{
text-decoration: none;
color: black;
}
.navbar-nav .nav-item{
  font-size: large;
}
.navbar-nav .nav-item:hover{
  border-radius: 8%;
  background-color: rgb(243, 243, 243);
}

.navbar-nav .dropdown{
  position: static;
}
.navbar-nav .dropdown-menu.show {
  right: 0;
  display: block;
  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-color: white;
  width: 100%;
  background-size: 30% 60%;
  background-image: url(../images/global-navigation.svg);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
}
@media screen and (min-width: 768px){
.media {
    flex-shrink: 0;
    margin-left: 2rem;
    width: 45%;
    margin-left: 5rem;
    }
}
.media {
    position: relative;
}
.heads{
  font-size: 80px;
}
.heads1{
  top:-10px;
}
.heads2{
  top: -30px;
  position: relative;
}
.heads3{
  top: -60px;
  position: relative;
}
.heads4{
  top: -90px;
  position: relative;
}
.heads5{
  top: -120px;
  position: relative;
}
@media screen and (min-width: 1200px){
.videoWrapper {
    width: calc(50vw - 49.95px);
    }
}
@media screen and (min-width: 768px){
.videoWrapper {
    clip-path: polygon(6% 0,100% 0,100% 100%,0 100%);
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .heads{
    font-size: 50px;
  }
  .heads2{
    top: -20px;
  }
  .heads3{
    top: -40px;
  }
  .heads4{
    top: -60px;
  }
  .heads5{
    top: -80px;
  }
}
.nav {
  font-size: large;
  padding-bottom: 10px;
}
.nav li {
  cursor: pointer;
  position: relative;
  text-align: center;
}
.active-nav .nav-link{
  color: #505e8b;
}
.nav li .nav-link:hover{
  color: #141c36;
}
.nav li.active .nav-link{
  color: #141c36;
}
.nav li.active::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: #141c36;
  left: 0;
  bottom: -7px;
  border-radius: 20px;
  animation: appear 0.2s linear;
}
@keyframes appear {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: 580px){
  .videoWrapper{
    display: none;
  }
  .nav{
    font-size: medium;
  }
  .foot div{
    width: 100%;
  }
}
.video {
  height: 100%;
  object-fit: cover;
  width: 100%;
  z-index: 1}
.box{
  font-weight: 500;
}
.box:hover{
  background-color: #0d6efd;
  color: white;
}
.data{
  padding-right: 32px;
}
.data:hover{
  padding-right: 40px;
}
#banner-section{
  position: relative;
}
.terms{
  padding-top: 15px;
  padding-bottom: 35px;
  padding-left: 12px;
}
.icon{
  width: 24px;
  height: 24px;
}
.box2{
  background-color: #2e395e;
}
.drop{
  padding-top: 48px;
  padding-bottom:48px;
}
@media screen and (max-width:990px){
  .navbar-nav .nav-item:hover{
    border-radius: 1%;
    background-color: rgb(243, 243, 243);
  }
}
@media screen and (min-width: 1200px) {
  body,#header ,#banner ,#testimonal,#tweets,#section1,#detail,#discover,.courses,.signup,#features, #offers,#newsfeed, #loginform, #signup,.footer-section{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
  }
}
@media screen and (max-width:771px){
  .banner-card{
    margin: 10px 70px;
  }
}
@media screen and (max-width:446px){
  .banner-card{
    margin: 10px 30px;
  }
}
@media screen and (max-width:660px){
  .box2{
    font-size: smaller;
  }
}
@media screen and (max-width:832px) and (min-width:450px){
  .img1{
    height: 20% !important;
  }
}
.card{
  border: none;
  cursor: pointer;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}
.card:hover{
  background-color: #eee;
}
.ratings i{
  color: orange;
}
.testimonial-list{
  list-style: none;
}
.testimonial-list li{
  margin-bottom: 20px;
}
.testimonials-margin{
  margin-top: -19px;
}
.divider:after, .divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  }
  .colors:hover{
      background-color: white;
  }
  .test{
    min-width: 600px;
  }
  @media screen and (max-width:630px) {
    .test{
      min-width: auto;
    }
  }
  .slider {
    margin-bottom: 30px;
    position: relative;
  }
  .slider .owl-item.active.center .slider-card {
    opacity: 1;
  }
  .slider-card {
    background: #fff;
    padding: 0px 0px;
    border-radius: 5px;
    transform: scale(0.9);
    transition: all 0.3s;
  }
  .slider-card img {
    border-radius: 5px 5px 0px 0px;
  }
  .owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  .owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  #newsfeed .owl-dots {
    display: none;
  }
  .owl-dots {
    text-align: center;
  }
  .owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ccc !important;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
  }
  .owl-dots .owl-dot.active {
    background: #141c36 !important;
  }
  .hide{
    display: none;
  }
  .mbcontent{
    display: none;
  }
  .tog{
    display: none;
  }
  .offcanvas.show{
    width: 70%; /*example + never use min-width with this solution */
    height: 100%;
}
.offcanvas.show li{
  border-top: 1px solid #00000031;
}
.offcanvas.show .dropdown-menu.show .row{
  display: none;
}
.offcanvas.show .dropdown-menu.show{
  padding: 0;
}
.offcanvas.show .tog{
  display: block;
}
.offcanvas.show .dropdown-menu.show .mbcontent{
  display: block;
  list-style: none;
  padding-left: 0;
  font-size: medium;
}
.offcanvas.show .signbt{
  border-top: 1px solid #00000031;
  padding-top: 10px;
}
.course-list{
    border-radius: 1rem;
    flex: 0 0 auto;
    font-size: .875rem;
    font-weight: 700;
    line-height: 2rem;
    min-width: 138px;
    padding: 0 1rem;
    text-align: center;
}
.card-body{
  align-items: flex-start;
  display: -moz-box;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding: 1.5rem;
}
.found{
  background-color: #f3f8fe;
  color: #017a9b;
}
.inter{
  color: #752c9d;
  background-color: rgba(169,81,237,.1);
}
.advan{
  color: #0c6438;
  background-color: rgba(21,194,107,.1);
}
.card-body h5{
  height: 90px;
}
.card-img-top{
  height: 180px;
}